.mt-20{
    margin-top: 20px;
}
.contact-mr-5{
    margin-right: 5px;
}
.contact-mr-10{
    margin-right: 10px;
}
.black-button
{
    background-color: #212529 !important;
    color: #fff !important;
    border-color: #32383e !important;
}
.home-icon
{
    color: #212529 !important;
}
#datepicker{width:180px; margin: 0 20px 20px 20px;}
#datepicker > span:hover{cursor: pointer;}
::ng-deep .bs-datepicker-head{
    background-color: black !important
}
::ng-deep .theme-green .bs-datepicker-body table td.week span{
    color: black
}

::ng-deep .theme-green .bs-datepicker-body table td span.selected, .theme-green .bs-datepicker-body table td.selected span, .theme-green .bs-datepicker-body table td span[class*="select-"]:after, .theme-green .bs-datepicker-body table td[class*="select-"] span:after{
    background-color: black
}